02-Whatsapp-AI-Agent/Whatsapp Agent.json
{
  "name": "Whatsapp Agent",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "64327046-3b89-4d12-be64-611843c4f3cd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ed106f4a-d787-48fa-bda8-e920c79f3230",
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d84b5938-3196-414c-ab3c-c81a5dac218c",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -448,
        -176
      ],
      "id": "8472b389-7ed6-418f-b35f-bdfda7c9fc17",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -240,
        -160
      ],
      "id": "f8e78ea8-5e93-46ba-8998-605d40900515",
      "name": "Download media",
      "webhookId": "0d5aee3d-be8b-4b07-b656-cccee04c9772",
      "credentials": {
        "whatsAppApi": {
          "id": "z6SwPaTVJ8BZMcos",
          "name": "WhatsApp account receive"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        128,
        -160
      ],
      "id": "8fc8f4db-78c4-42ab-8e81-88da28a2a458",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "ck1QQoYccHmCDX2D",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -240,
        32
      ],
      "id": "31758e1f-e14f-470b-a367-168ed6441612",
      "name": "Download media1",
      "webhookId": "0d5aee3d-be8b-4b07-b656-cccee04c9772",
      "credentials": {
        "whatsAppApi": {
          "id": "z6SwPaTVJ8BZMcos",
          "name": "WhatsApp account receive"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        128,
        32
      ],
      "id": "1a38b41b-835d-4002-9981-d05ab67ad2a6",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "ck1QQoYccHmCDX2D",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1008,
        80
      ],
      "id": "85ff4027-0398-423a-9e2e-10fbdc7d8aa3",
      "name": "Send a message in Gmail",
      "webhookId": "b942bab8-90b0-4d58-a9c5-d7cca3d4cd41",
      "credentials": {
        "gmailOAuth2": {
          "id": "ebILswR8aajcrf5i",
          "name": "google account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "saraomran433@gmail.com",
          "mode": "list",
          "cachedResultName": "saraomran433@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        704,
        96
      ],
      "id": "d934f88e-3d0b-4ed8-8e9c-11b7e289dbad",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ftZb1wvM6TD3mCEz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.text }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        848,
        128
      ],
      "id": "587228d0-ac1c-4b92-ac0c-f161db08e7ff",
      "name": "Tavily",
      "credentials": {
        "httpHeaderAuth": {
          "id": "llbrombmKoKEnzUM",
          "name": "Tavily"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50881510-b51f-4563-86f2-edb5b1f8dbbb",
              "name": "text",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        -320
      ],
      "id": "605b7a1b-0437-46eb-a084-951680ee6116",
      "name": "text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74f202ea-180e-4095-8abd-68132133907c",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -160
      ],
      "id": "d61b7227-c9ff-479e-979c-f7e1a736c84a",
      "name": "audio to text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "849eb4fe-0ac5-4eb6-88e2-8ec6a89fa370",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        32
      ],
      "id": "52fbcca4-bd89-41a1-a60c-b65de5eb17c9",
      "name": "image to text"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        -160
      ],
      "id": "787f7ccb-5b3b-4736-b7e8-8164d87d59be",
      "name": "audio url",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BKCnGf6llVd81cFm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        32
      ],
      "id": "9a9d6543-d07e-4545-9924-cee42d1f2e53",
      "name": "image url",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BKCnGf6llVd81cFm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        -144
      ],
      "id": "ddc4cfba-714c-492c-b682-a1a70be74263",
      "name": "Gemini 2.5 Falsh",
      "credentials": {
        "googlePalmApi": {
          "id": "ck1QQoYccHmCDX2D",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from_user_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        -128
      ],
      "id": "59f14d06-37b9-479c-b4b4-502ae8347cae",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "# Inputs",
        "height": 592,
        "width": 752,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -384
      ],
      "typeVersion": 1,
      "id": "15d4a9e1-d351-44dd-9a29-d06933dfed3a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Tools",
        "height": 304,
        "width": 592,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        16
      ],
      "typeVersion": 1,
      "id": "781f83eb-33c7-443e-8c2c-7af7ec8fbd8c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=## Overview\nYou are a WhatsApp AI assistant. Your job is to process text, audio, and image inputs and respond or trigger actions. The current date and time is {{ $now.toString() }}\n\n## Tools\n\n- Send a message in Gmail: Send emails when requested\n- Create an event in Google Calendar: Schedule events\n- Tavily: Fetch external information via API\n\n## Rules\n- Always choose the correct tool before responding\n- Be concise and action-oriented\n- Output plain text or structured action\n\n## Instructions\n1) Analyze incoming user message\n2) Use tools if needed, else reply directly\n\n## Examples\n1)\nInput: Schedule meeting tomorrow\n- Action: Use Google Calendar to create event\n- Output: Event confirmation"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        -320
      ],
      "id": "7fdf0b21-7519-4e3f-bebf-8f428f33b843",
      "name": "Whatsapp Agent"
    },
    {
      "parameters": {
        "content": "# Whatsapp Agent",
        "height": 384,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -384
      ],
      "typeVersion": 1,
      "id": "6f916dcc-fea6-4d9a-9543-78f69c2c5b52",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -160
      ],
      "id": "82c88951-a2b7-4672-8cfb-06c242a50984",
      "name": "WhatsApp Trigger",
      "webhookId": "1b1e0096-0ce9-4780-a224-b0f81df99a8b",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "AT12ssuWIlpbj80G",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1153102824544264",
        "recipientPhoneNumber": "+20 1120846102",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        944,
        -320
      ],
      "id": "6791182f-6ec1-4547-9647-ae397570708a",
      "name": "Send message",
      "webhookId": "5516be26-a022-4a8e-ac71-2fbc7890999b",
      "credentials": {
        "whatsAppApi": {
          "id": "z6SwPaTVJ8BZMcos",
          "name": "WhatsApp account receive"
        }
      }
    },
    {
      "parameters": {
        "content": "# Whatsapp Sender",
        "height": 224,
        "width": 320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        -384
      ],
      "typeVersion": 1,
      "id": "83820dc9-2686-418f-bad9-99107f834413",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Whatsapp Receiver",
        "height": 288,
        "width": 352,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        -272
      ],
      "typeVersion": 1,
      "id": "a6d77edc-f818-4b5c-808d-ecaabfb43f36",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch1": {
      "main": [
        [
          {
            "node": "text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download media1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "audio url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "audio to text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media1": {
      "main": [
        [
          {
            "node": "image url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "image to text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "text": {
      "main": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio to text": {
      "main": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image to text": {
      "main": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "audio url": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image url": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Falsh": {
      "ai_languageModel": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Whatsapp Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Africa/Cairo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "d6ca6e11-7f52-45a5-a833-0df3a61dc12d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c71eddf0d100ac6a50544094544b0ba3aa9f264d9f4d7eef327fecd5bc16020"
  },
  "id": "NXyDQDRf4rNJtcRE",
  "tags": []
}